build/
eclipse/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/
.nb-gradle/
.nb-gradle-properties
.settings/
.classpath
.project
/passwords.properties
.idea/
*.iml
run/
private/
push/
*.ipr
*.iws
out/
bin/
classes/
.settings
.metadata
.project
*.launch
/libs/
**/Thumbs.db
